a:link, a:visited {
	color: rgb(6, 36, 36);
	text-decoration: none;
}

a:hover {
	color: rgb(46, 88, 4);
}

a:active {
	font-weight: bold;
	color: darkgreen;
}

ul {
	background-color: lightsteelblue;
	padding: 1.5rem;
	border-radius: 45px;
	box-shadow: rgb(6, 36, 36) .3rem .3rem;
}
li {
	margin: 1rem;
	font-size: 1.25rem;
	
}